local addonName, addon = ...
local config = addon.config

config.position = {"TOP", UIParent, "BOTTOM", 0, 180} -- Anchor position, see http://www.wowwiki.com/API_Region_SetPoint
config.width = 250 -- Width of each bar
config.growUpwards = false -- Grow bars upwards
config.tallBarTexture = "Interface\\AddOns\\" .. addonName .. "\\media\\HalT"  -- Texture to use for tall bars
config.shortBarTexture = "Interface\\AddOns\\" .. addonName .. "\\media\\HalW"  -- Texture to use for short bars
